<form action="{% url "save_job" %}" method="get">

  <label for="name">Nombre Puesto de trabajo</label>
  <input type="text" name="name">

  <label for="descripcion">Descripcion Puesto de trabajo</label>
  <textarea name="descripcion" id="" cols="30" rows="10"></textarea>

  <label for="">Salarios</label>
  <select name="salary" id="">
    {% for sal in salary %}
    <option value="{{sal.id}}">{{sal.amound}}</option>

    {% endfor %}
  </select>

  <button type="submit">Guardar</button>


</form>